@media only screen and (min-width: 38rem) {

    header,
    nav,
    main,
    footer {
        max-width: 900px;
        margin: 0 auto;
    }

    header {
        grid-template-columns: 50px auto 24px;
        gap: 10px;
        padding-right: 10px;
    }

    header span {
        font-size: 1.5rem;
    }

    .hamburger {
        display: none;
    }

    .navigation {
        display: block;
    }

    .navigation ul {
        display: flex;
        background-color: var(--primary);
        gap: 20px;
    }

    .navigation a {
        border-bottom: none;
        font-size: 1.1rem;
        color: var(--white);
    }

    .navigation li.current {
        background-color: #fff;
    }

    .navigation li.current a {
        color: var(--primary);
    }


    .navigation a:hover {
        background-color: var(--white);
        color: var(--primary);
    }

    .info-panel {
        max-width: 900px;
        grid-template-columns: 2fr 1fr;
        gap: 10px;
    }

    .weather-info {
        padding-right: 10px;
    }

    .list {
        display: flex;
        flex-direction: column;
    }

    .member-card .list {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .member-body .list {
        flex: 2;
    }

    .join-layout {
        flex-direction: row;
        align-items: flex-start;
        gap: 20px;
    }

    .cards {
        margin-top: 16px;
        width: 80%;
    }

    input[type=text],
    input[type=tel],
    input[type=email],
    select {
        width: 300px;
    }

    footer {
        display: flex;
        justify-content: space-evenly;
    }

    .allPlaces div {
        grid-template-areas:
            "image name"
            "image description"
            "image location"
            "image cost";
    }

    .allPlaces div img {
        width: 250px;
    }

    .allPlaces div img:hover {
        transform: scale(1.05);
        transition: transform 0.3s ease;
    }
}

