@media only screen and (min-width: 63rem) {

    .contact-page {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 3rem;
        padding: 3rem 2rem;
        margin: 0 auto;
        align-items: center;
    }

    .contact-title,
    .contact-intro {
        grid-column: 1 / -1;
    }

    .contact-info {
        margin-bottom: 0;
    }

    .contact-form {
        margin: 0;
    }

    .contact-intro {
        margin: 0;
    }

    .team-info {
        width: 300px;
    }
}