/* ====== COLOR SCHEME ====== */
:root {
    --primary-color: #D4AF37;
    --secondary-color: #0D0D0D;
    --background-color: #FDFBF7;
    --text-color: #333333;
    --text-font: 'Domine', serif;
    --heading-font: 'Montserrat', sans-serif
    
}

body {
    font-family: var(--text-font);
    color: var(--text-color);
    background-color: var(--background-color);
    margin: 40px auto;
    max-width: 900px;
    line-height: 1.7;
}


h1 {
    text-align: center;
    color: var(--secondary-color);
    letter-spacing: 1px;
    padding-bottom: 10px;
    font-family: var(--heading-font);
}

section {
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-left: 6px solid var(--primary-color);
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 30px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05);
    margin: 0 10px;
}

ul {
    margin: 10px 0 0 20px;
}

.color-box {
    display: inline-block;
    width: 50px;
    height: 25px;
    border-radius: 5px;
    margin-right: 10px;
    vertical-align: middle;
}

.color-gold {
    background-color: var(--primary-color);
}

.color-black {
    background-color: var(--secondary-color);
}

footer {
    text-align: center;
    margin-top: 40px;
    color: var(--secondary-color);
    font-size: 0.9rem;
}

footer span {
    font-weight: bold;
}